<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764876442344-fqlnn929rsdrqisbnmh49gknk4kgp12o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764876442344-fqlnn929rsdrqisbnmh49gknk4kgp12o</string>
	<key>API_KEY</key>
	<string>AIzaSyA3pn9VvOtZLfgCSRsIjmJKCVyffP22IDM</string>
	<key>GCM_SENDER_ID</key>
	<string>764876442344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.syncserverdev</string>
	<key>PROJECT_ID</key>
	<string>syncserver-93630</string>
	<key>STORAGE_BUCKET</key>
	<string>syncserver-93630.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764876442344:ios:21a0c0cd7400ba4ff8975d</string>
</dict>
</plist>